/.phpunit.cache
/.env
/.env.backup
/.env.production
/.phpactor.json
/.phpunit.result.cache
/storage/*.key
/storage/pail
/vendor
/node_modules
/public/build
/public/hot
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.zed
/.nova
.DS_Store
Thumbs.db
Desktop.ini
/forge.yml
/*.sqlite
/nginx.conf
/apache.conf
*.log
*.log.*
*.gz
*.tar
*.zip
/docker-compose.override.yml
/.docker
/phpunit.result.cache
/resources/js/bootstrap.js
/resources/js/jetstream.js
.idea/
.vscode/
package-lock.json
package.json
node_modules
foundit.iml
php.xml
workspace.xml